@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap);

body {
  margin: 0px;
  -webkit-touch-callout: none;/*for mobile*/
  -webkit-user-select: none;/*for chrome*/
  -khtml-user-select: none;/*for safari*/
  -moz-user-select: none;/*for Mozilla*/
  -ms-user-select: none;/*for ms*/
  -o-user-select: none;/*for opera*/
  user-select: none;/*base css ,but not work in all browsers*/
}
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url('./assets/bg3.png');
  background-position: top left;
  background-size: 150px;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

@media (min-width: 399px){
  /* apply when more than max width */
}
@media (max-width: 400px){
  /* apply when less than max width */
}

#game-container{
  position: relative;
  aspect-ratio: auto 4/3;
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  max-height: 768px;
  margin:0px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.app-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.menu {
  display: table;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.menu-container {
  display: table-cell;
  vertical-align: middle;
}
.menu-panel {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #242424;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 14px;
  text-align: center;
  line-height: 32px;
}
.menu-text {
  margin: 7px 0px;
  font-size: 18px;
}
.menu-text a{
  color: #eee;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  margin:0px 20px;
  width:100%;
  min-width: 200px;
  max-width: 450px;

  padding: 10px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(10deg, #ffaa00, #ff6a00);
}

.modal-score {
  position: absolute;
  top: -34px;
  font-size: 32px;
  font-weight: 600;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #ff9d00;
  background: linear-gradient(10deg, #ff6a00, #ffaa00); 
  color: #eeeeee;
  z-index: 20;
}

.modal-scoreslist {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  overflow:auto;
  max-height: 300px;
  width:100%;
  text-align: center;
}

.modal-scoreslist table{
  width: 100%;
  border-collapse: collapse;
}
.modal-scoreslist thead{
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.modal-scoreslist thead th{
  position: sticky;
  background: #101315;
  color: #eeeeee;
  top:0;
}
.modal-scoreslist .modal-text {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0px;
}
.rank-highlight {
  background: #48b862;
  color: #eeeeee;
}

.modal-text {
  margin-top: 30px;
  font-size: 18px;
}

.modal-text {
  margin-top: 30px;
  font-size: 18px;
}

.modal-validation {
  margin:0px;
  font-size: 13px;
  text-transform: uppercase;
}

.button {
  width: 100%;
  max-width: 350px;
  margin: 5px 0px;
  height: 40px;
  padding: 5px;

  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;

  text-transform: uppercase;
}

.close-button {
  background: #101315;
  color: #eeeeee;
}

.submit-button {
  background: #eee;
  color: #101315;
}

.input-name {
  width: 100%;
  max-width: 350px;
  height: 40px;
  padding: 5px;
  margin-bottom: 14px;

  outline: none;
  background: #1a1d1e;
  border: 2px solid #ff9d00;
  border-radius: 6px;
  color: #ff9d00;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;

  text-align: center;
}
